@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
}

.navbar {
    display: flex;
    padding: 15px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 15%;
    align-items: center;
    margin-right: 50px;
}

.user-profile-icon {
    font-size: 2em;
}

.navbar ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 15px;
}

.logo i {
    font-size: 2em;
    color: #FFFFFF;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 890px;
}

.landing h1 {
    margin-bottom: 25px;
    font-size: 3em;
    color: #FFFFFF;
    width: 55%;
    text-align: center;
    position: absolute;
    top: 15%;
}

.landing p {
    color: #4CAF50;
}

/* Styles for the forms */

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 880px;
}

.login-container {
    border: 2px solid #4CAF50;
    border-radius: 35px;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 75px;
    width: 250px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input label {
    font-size: 1.4em;
    margin-bottom: 5px;
}

.input input {
    font-size: 1.2em;
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 10px;
}

.form-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.form-controls button {
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    background-color: #4CAF50;
    font-size: 1.1em;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.form-controls button:hover {
    cursor: pointer;
}

.form-controls button:active {
    background-color: #418241;
}

/* Styles for the register section */

.register {
    display: flex;
    width: 100%;
    height: 100%;
}

.reg-container-l, .reg-container-r {
    width: 50%;
}

.reg-container-l {
    background: url('src/dog-left.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: right;
}

.reg-container-l .form-container {
    margin-top: 30%;
    width: 40%;
    text-align: right;
}

.register h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: lighter;
    margin-bottom: 10px;
}

.register p {
    margin-bottom: 15px;
    color: #FFFFFF;
}

.reg-container-l p:after {
    content: " \f00c";
    font-family: FontAwesome;
    font-size: 1.4em;
}

.reg-container-r {
    background: url("src/dog-right.png");
    background-position: center;
    background-size: cover;
}

.reg-container-r .form-container {
    margin-top: 30%;
    width: 40%;
    text-align: left;
}

.reg-container-r p:before {
    content: "\f00c ";
    font-family: FontAwesome;
    font-size: 1.4em;
}

.register button {
    padding: 25px 50px;
}

.reg-container-r button {
    background-color: #009688;
}

.reg-container-l input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: right;
}

.reg-container-l input::-moz-placeholder { /* Firefox 19+ */
    text-align: right;
}

.reg-container-l input:-ms-input-placeholder { /* IE 10+ */
    text-align: right;
}

.reg-container-l input:-moz-placeholder { /* Firefox 18- */
    text-align: right;
}

/* styles for the subscribe section */

.subscribe {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(rgba(65, 130, 65, 0.5), rgba(65, 130, 65, 0.5)), url("src/hurr-durr-i-pretend-to-send-emails-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe .form-container {
    width: 35%;
}

.subscribe .form-container form {
    width: 50%;
    margin: auto;
}

.subscribe .form-container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #FFFFFF;
}

.subscribe button {
    border: 1px solid #4CAF50;
    background-color: #FFFFFF;
    color: #000000;
    padding-left: 35px;
    padding-right: 35px;
}

/* styles for guide section */

.guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0E0E0;
}

.guide h2 {
    margin: 100px 0 50px 0;
    color: #424242;
}

.guide button {
    border: 1px solid #4CAF50;
    border-radius: 20px;
    padding: 10px 35px;
    background-color: #FFFFFF;
    font-size: 1.1em;
    color: #000000;
    margin-bottom: 100px;
}

.guide button:hover {
    cursor: pointer;
}

.guide button:active {
    background-color: #FFFFFF;
    color: #000000;
}

/* Marketing Section styles */

.marketing {
    background-color: #F5F5F5;
    padding: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.marketing:first-child {
    margin-bottom: 50px;
}

.mar-row {
    display: flex;
    justify-content: space-around;
}

.mar-row article {
    display: flex;
    width: 30%;
}

.mar-row article i {
    font-size: 3em;
    color: #9E9E9E;
}

.mar-row article p {
    margin-left: 30px;
    color: #545454;
}

/* Footer styles*/

footer {
    height: 70px;
    background-color: #009688;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: #FFFFFF;
}

footer ul{
    list-style: none;
    display: flex;
    width: 15%;
    justify-content: space-between;
}

footer ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

footer ul li a:hover{
    color: #4CAF50;
}